@media screen and (max-width: 1600px){
    .navbar{
        position: relative;
    }
    .menu{
        display: none;  
    }

    .servicos{
        width: 100%;
    }

    .textos{
        margin-top: 100px;
    }

    .logo{
        margin: 0;
        text-align: center;
        margin-top: -25px;
    }

    .header{
        flex-direction: column;
    }

    .imgheader{
        width: 100%;
    }

    .whats{
        display: none;
    }



}